#gallery {
  background-color: #f6f6f6;
}

#gallery .container {
  display: flex;
  align-items: center;
}

.card {
  margin: 1rem;
  width: 18rem;
}

@media (max-width: 576px) {
  .lngImgproject {
    img {
      width: 35px;
    }
  }

  .ingImg .row {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
}
