.cssGallery {
  background-color: #bafcff;
  overflow: hidden;
}

.js-projects {
  background-color: #bafcff;
  overflow: hidden;
}

.card-img-top {
  height: 180px;
  object-fit: fill;
  border: #1a1a1a 1px solid;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-text {
  position: relative;
  width: 100%;
  text-align: center;
}

.logo-container img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

@media (min-width: 1000px) {
  .cssGallery .card {
    width: 22rem;
    margin: 1rem 1rem;
  }
  .js-projects .card {
    width: 22rem;
    margin: 1rem 1rem;
  }
}
