* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rtl {
  direction: rtl;
}

#register {
  background-color: #e5e6f1;
  padding: 20px;
}

#login {
  background-color: #f8f8f8;
  padding: 20px;
}

@media (max-width: 576px) {
  #register .form form,
  #login .form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
  }

  #register h1,
  #login h1 {
    font-size: 1.5rem;
  }

  #userTable {
    overflow-x: scroll;
    font-size: 0.7rem;
  }

  #register {
    padding: 25%;
  }
}
